<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading">FRESH TASTES</h1>
    <p class="lead">They say that food passes through the stomach, we say that food passes through Fresh Tastes...
    </p>
</main>